<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
</head>
<body>

    <div class="container">

        <div class="dropdown text-right">
            <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Site Dili</button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation"><a href="#" onclick="doGTranslate('auto|tr');return false;" title="Turkish"><img src="/img/turkish.png" height="18" width="22" alt="Türkçe" /></a></li>
                <li role="presentation"><a href="#" onclick="doGTranslate('auto|en');return false;" title="English"><img src="/img/english.png" height="18" width="22" alt="English" /></a></li>
                <li role="presentation"><a href="#" onclick="doGTranslate('auto|de');return false;" title="German"><img src="/img/german.png" height="18" width="22" alt="German" /></a></li>
            </ul>
        </div>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/translate.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
