@{
    //success messages
    var successMessages = new List<string>();
    if (TempData[$"ucsan.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(TempData[$"ucsan.notifications.{NotifyType.Success}"] as IList<string>);
    }
    if (ViewData[$"ucsan.notifications.{NotifyType.Success}"] != null)
    {
        successMessages.AddRange(ViewData[$"ucsan.notifications.{NotifyType.Success}"] as IList<string>);
    }


    //error messages
    var errorMessages = new List<string>();
    if (TempData[$"ucsan.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(TempData[$"ucsan.notifications.{NotifyType.Error}"] as IList<string>);
    }
    if (ViewData[$"ucsan.notifications.{NotifyType.Error}"] != null)
    {
        errorMessages.AddRange(ViewData[$"ucsan.notifications.{NotifyType.Error}"] as IList<string>);
    }


    //warning messages
    var warningMessages = new List<string>();
    if (TempData[$"ucsan.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(TempData[$"ucsan.notifications.{NotifyType.Warning}"] as IList<string>);
    }
    if (ViewData[$"ucsan.notifications.{NotifyType.Warning}"] != null)
    {
        warningMessages.AddRange(ViewData[$"ucsan.notifications.{NotifyType.Warning}"] as IList<string>);
    }
}

@foreach (var message in successMessages)
{
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="font-weight-semibold"> @message </span>
    </div>
}

@foreach (var message in errorMessages)
{
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="font-weight-semibold"> @message </span>
    </div>
}

@foreach (var message in warningMessages)
{
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span class="font-weight-semibold"> @message </span>
    </div>
}
<div id="alert_message" class=""></div>